[Desktop Entry]
Type=Application
Name=Origo X
Name[zh_CN]=开元阅读
Comment=Read local ebook files
Comment[zh_CN]=阅读本地电子书文件
Exec=origo_x %F
Icon=origo-x
Terminal=false
Categories=Office;Viewer;
MimeType=text/plain;application/epub+zip;
StartupNotify=true
